@keyframes left-to-right {
  0% {
    left: -200px;
  }

  100% {
    left: 100%;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  border: 1px solid white;
  z-index: 9999;
  width: 200px;
  animation: left-to-right 1s cubic-bezier(0.23, 0.9, 0.8, 0.11) infinite;
}
